.signupSection {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: var(--space-lg);
    max-width: 400px;
    width: 100%;
    font-weight: var(--weight-medium);
    box-shadow: 10px 12px 20px rgba(0, 0, 0, .2);
    border-radius: 24px;


}


.signupForm h2 {
    color: var(--dark-text);
}


.inputWrapper {
    position: relative;
    width: 100%;
}

.inputWrapper input {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2rem;
    border: none;
    border-radius: 16px;
}

.inputIcon {
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}



.signupForm button {
    padding: var(--space-sm);
    border-radius: var(--space-m);
    cursor: pointer;
    font-weight: var(--weight-bold);
    width: 100%;
    background: black;

}

.signupForm button:hover {
    color: var(--text);
    background-color: rgb(22, 21, 21);
    transition: var(--transition);
}

.signupForm button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.signupForm p {
    padding: var(--space-sm);
    border-radius: var(--radius-sm);
    margin-bottom: var(--space-sm);
    font-weight: var(--weight-medium);
    color: var(--dark-text);
    font-size: var(--text-lg);
}

.pLink {
    color: var(--dark-text);
}