.hero {
    min-height: 100vh;
    width: 100%;
    position: relative;

    scroll-margin-top: var(--navbar-height);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-md);
    padding-top: clamp(6rem, 12vh, 10rem);
    overflow: visible;
    background: linear-gradient(180deg,
            #f7ede2,
            #fdfdfd);

}

.heroContent {
    width: min(100%, 700px);

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.hero button {
    border-radius: var(--space-lg);
    padding: var(--space-m);
    font-weight: var(--weight-bold);
    transition: var(--transition);
    cursor: pointer;
    background: blue;
    color: var(--text);
    border: transparent;
}

.buttonsDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    margin-top: var(--space-sm);
}

.hero button:hover {
    background-color: #fff;
    color: var(--dark-txt);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);



}

.logodiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
    margin: 0 auto;

}

.logo {
    font-size: var(--text-2xl);

}

.hero h1 {
    margin: 0;
    font-size: clamp(4rem, 7vw, 5rem);
    color: var(--dark-txt);

}

.hero h2 {
    color: gray;
    font-size: clamp(2.5rem, 6vw, 4rem);
    margin-top: -0.75rem;
}


.heroDescription {
    width: min(100%, 500px);
    margin: 0;
    line-height: 1.6;
    text-align: center;
    color: var(--dark-txt);
}

.features {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 6rem 1rem;


}

.featuresHeading {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 3rem;
}

.featuresHeading h1 {
    font-size: 2.5rem;
    line-height: 1.1;
}

.featuresGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.heading {
    display: flex;
    align-items: center;

}



.featuresCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: transform .25s ease, border-color .25s ease;
    border-radius: var(--space-m);
    padding: var(--space-m);
    cursor: pointer;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
    padding: var(--space-nml);
}



.featuresCard h3 {
    color: var(--dark-txt);
}

.featuresCard:hover {
    border-color: 1px solid #fff;
    transform: scale(1.05);
}


.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    margin-bottom: var(--space-m);
}


.addTask {

    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .1);
    gap: .5rem;
    padding: 24px;
    max-width: 50%;
    max-height: 30%;
    right: 15%;
    top: 40%;
    position: absolute;
    z-index: 5;
}

.individualTask {
    display: flex;
    align-items: center;
    gap: 1px;

}

.cardDescription {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 20px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .1);
    max-width: 70%;
    max-height: 70%;
    left: 15%;
    position: absolute;
    bottom: 10%;

}

.aboutSection {
    min-height: 90vh;
    scroll-margin-top: 80px;




}

.about {
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    background: rgba(255, 255, 255, 0.05);
    border-radius: var(--space-m);
    cursor: pointer;
    margin: 0 auto;



}

.aboutContent {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: flex-start;
    padding: 20px;
    margin-left: 10%;
}

.aboutContent h2 {
    color: var(--dark-txt);
    font-size: var(--text-3xl);
    margin-top: 20px;

}

.aboutContent h3 {
    color: orangered;
    font-size: var(--text-sm);
    text-align: left;
}

.aboutContent p {
    font-size: var(--text-md);
    color: var(--dark-txt);
    font-weight: 600;
    justify-self: flex-end;
    margin-top: auto;


}

.aboutShowCase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

.aboutImgDiv {
    width: 100%;
    max-width: 450px;
    height: 350px;
    border-radius: 24px;
    overflow: hidden;

}

.aboutImgDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    /* Fills the box without distortion */
}

.aboutStats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.individualStats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

}

.individualStats h3 {
    font-size: var(--text-xl);
    color: orangered;
}

.technologies {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    min-height: 60vh;
    scroll-margin-top: 90px;
    height: 100vh;
}

.technologies h3 {
    color: var(--dark-text);
    font-size: var(--text-xl);
}


.technologiesMain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;


}

.techCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: rgba(255, 255, 255, .05);
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 16px;
    transition: transform .25s ease, border-color .25s ease;
    cursor: pointer;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .2);


}

.techCard:hover {
    transform: scale(1.05);
}

.techCard:nth-child(1):hover {
    box-shadow: 0 0 40px rgba(97, 218, 251, .35);
}

.techCard:nth-child(2):hover {
    box-shadow: 0 0 40px rgba(104, 160, 99, .35);
}

.techCard:nth-child(3):hover {
    box-shadow: 0 0 40px rgba(49, 120, 198, .35);
}

.techCard:nth-child(4):hover {
    box-shadow: 0 0 40px rgba(0, 237, 100, .35);
}

.techCard img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 1rem;

}

.techCard h4 {
    color: var(--muted);
}



.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    padding: 4rem 2rem 2rem;

    color: #111;

    text-align: center;
}

.footer p {
    margin: 0;
    color: #aaa;
    font-size: 0.95rem;
    font-weight: 800;
}

.footerLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footerLinks a {
    color: #111;
    text-decoration: none;
    font-size: 0.9rem;

    transition: color 0.2s ease;
}

.footerLinks a:hover {
    color: red;
}

.socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.socials img {
    width: 24px;
    height: 24px;
    object-fit: contain;

    cursor: pointer;
    transition: transform 0.2s ease;
}

.socials img:hover {
    transform: translateY(-3px);
}

.footer small {
    padding-top: 1rem;

    width: 100%;
    max-width: 900px;

    border-top: 1px solid #333;

    color: #111;
    font-size: 0.75rem;
}






.integrations {
    display: flex;
    position: absolute;
    right: 5%;
    bottom: -8%;
    z-index: 5;
    align-items: center;
    flex-direction: column;
    gap: var(--space-m);
    padding: var(--space-md) var(--space-m);

    background: rgba(255, 255, 255, .8);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 29px;
    margin-bottom: var(--space-nml);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .05),
        0 12px 24px rgba(0, 0, 0, .08), 0 -10px 10px rgba(0, 0, 0, .05), 0 -12px 24px rgba(0, 0, 0, .08);

    transform: rotate(6deg);

}

.integrations p {
    font-size: .875rem;
    font-weight: 600;
    white-space: nowrap;
    align-self: flex-start;
}


.icons {
    display: flex;
    align-self: center;
    border: none;
    background: transparent;

}

.icon {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08),
        0 4px 10px rgba(0, 0, 0, .05);
}

.icon img {
    width: 38px;
    height: 38px;

}

.gmail {
    transform: rotate(-10deg);
    animation: gmailFloat 5s ease-in-out infinite;
}

.zoom {
    margin-left: -18px;
    z-index: 2;
    animation: zoomFloat 6s ease-in-out infinite;
}

.calendar {
    margin-left: -18px;
    transform: rotate(10deg);
    animation: calendarFloat 7s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

@keyframes gmailFloat {

    0%,
    100% {
        transform: translateY(0) rotate(-10deg);
    }

    50% {
        transform: translateY(-8px) rotate(-10deg);
    }
}

@keyframes zoomFloat {

    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-8px);
    }
}

@keyframes calendarFloat {

    0%,
    100% {
        transform: translateY(0) rotate(10deg);
    }

    50% {
        transform: translateY(8px) rotate(10deg);
    }
}

.reminders {
    display: flex;
    position: absolute;
    right: 0.8%;
    top: 12%;
    flex-wrap: wrap;

}


.clockdiv {
    width: 70px;
    height: 70px;
    border-radius: var(--space-md);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-5deg);
    z-index: 5;
    position: absolute;
    right: 90%;
    background-color: #fff;

}

.clockimg {
    width: 40px;
    height: 40px;

}

.reminderinfo {
    transform: rotate(8deg);
    overflow-x: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: var(--space-nml);
    border-radius: var(--space-md);
    background: white;

}

.p1 {
    color: var(--dark-txt);
    font-weight: var(--weight-bold);
}

.meetings {
    border-radius: var(--space-md);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.meetings p {
    font-size: x-small;
    color: gray;
    margin-left: auto;

}

.meetingsinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--space-md);
    padding: 10px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .08), 0 -12px 20px rgba(0, 0, 0, .08);
}

.p2 {
    color: var(--dark-txt);
    font-weight: var(--weight-bold);
    font-size: x-small;
}

.p3 {
    color: gray;
    font-size: xx-small;

}

.timediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 12px 20px rgba(0, 0, 0, .08);
    margin-top: auto;
    padding: var(--space-sm);

}

.timediv p {
    color: gray;
    font-size: xx-small;
    font-weight: var(--weight-bold);
}

.time {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: rgb(114, 114, 235);
    background: rgb(114 114 235 / 15%);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.ficlock {
    height: 12px;
    width: 12px;
}

.time p {
    color: rgb(114, 114, 235);
}

.transparentdiv {
    background: white;
    height: 180px;
    width: 150px;
    border-radius: var(--space-md);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(30deg);
    z-index: 5;
    position: absolute;
    left: 70%;
    top: 50%;
    overflow: hidden;

}

.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F6E79A;
    padding: var(--space-m);
    padding-bottom: var(--space-lg);
    z-index: 5;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 1.5%;
    top: 16%;
    transform: rotate(5deg);
    background: linear-gradient(rgba(255, 255, 255, .08),
            rgba(0, 0, 0, .03)), #f4e58a;

}

.notes p {
    font-family: "Titillium web";
    font-size: var(--text-lg);

    font-weight: var(--weight-bold);
    color: var(--dark-txt);
}

.notes::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    width: 18px;
    height: 18px;
    background-image: radial-gradient(circle at 35% 35%,
            #ff6fa5,
            #d4145a 70%);

    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: inset -2px -2px 4px rgba(0, 0, 0, .25),
        0 3px 6px rgba(0, 0, 0, .3);

}

.notes::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 50%;
    width: 3px;
    height: 18px;
    background: #5c4635;
    transform: translateX(-50%);
    border-radius: 2px;
}




.transparentdiv2 {
    background: transparent;
    height: 180px;
    width: 180px;
    border-radius: var(--space-md);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(30deg);
    z-index: 5;
    position: absolute;
    left: 0.1%;
    top: 40%;
    overflow: hidden;

}

.checkboxdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: var(--space-md);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: absolute;
    left: 30%;
    background-color: #fff;
    transform: rotate(-30deg);

}

.checkboxdiv::before {
    content: "✓";

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: blue;
    color: white;

    border-radius: 6px;
    font-weight: bold;
}

.taskCard {
    display: flex;
    flex-direction: column;
    background: white;
    padding: var(--space-nml);
    border-radius: 24px;
    width: 100%;
    max-width: 420px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    bottom: 1%;
    left: 3%;
    position: absolute;
    transform: rotate(-5deg);
    width: 350px;

}

.task {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

/* .topRow,
.bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
} */

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.dot {
    width: 14px;
    height: 14px;
    border-radius: 4px;
}

.red {
    background: #ff6b6b;
}

.green {
    background: #37d39a;
}

.progress {
    display: grid;
    grid-template-columns: 60px 1fr 45px;
    align-items: center;
    gap: .8rem;
}

.progressBar {

    height: 8px;
    background: #edf2f7;
    border-radius: 999px;
    overflow: hidden;
    width: 80%;
}

.fill {
    height: 100%;
    background: #27c6ff;
    border-radius: inherit;
}

.avatars {
    display: flex;


}

.avatars img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
    margin-left: -10px;
}

.avatars img:first-child {
    margin-left: 0;
}

@media(max-width:767px) {
    .hero {
        min-height: auto;
        padding: 6rem 1rem 4rem;
        padding-top: 8rem;
        padding-bottom: 1rem;
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .heroContent {
        width: 100%;
        max-width: 500px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        text-align: center;
    }

    .hero h1 {
        font-size: 2.4rem;
        line-height: 1.05;
        max-width: 330px;
    }

    .hero h2 {
        font-size: 2rem;
        line-height: 1.1;
    }

    .heroDescription {
        width: 100%;
        max-width: 320px;
        text-align: center;
    }

    .buttonsDiv {
        flex-direction: column;
        width: 100%;
        max-width: 300px;
    }

    .hero button {
        width: 100%;
    }

    /* Decorative elements */
    .notes,
    .reminders,
    .transparentdiv,
    .transparentdiv2,
    .taskCard,
    .integrations {
        display: none;
    }

    /* .taskCard {
        position: relative;
        left: auto;
        bottom: auto;
        width: 100%;
        max-width: 350px;
        transform: none;
        margin-top: 2rem;
        box-sizing: border-box;
    }

    .integrations {
        position: relative;
        right: auto;
        bottom: auto;
        transform: none;
        margin: 1rem 0 0;
        width: fit-content;
    } */

    .featuresHeading h1 {
        font-size: 2rem;
    }

    .featuresHeading p {
        max-width: 330px;
        margin-inline: auto;
    }


    .featuresGrid {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .about {
        grid-template-columns: 1fr;
    }

    .aboutContent {
        margin-left: 0;
        padding: 20px;
        max-width: none;
        align-items: center;
        text-align: center;
    }

    .aboutImgDiv {
        width: 100%;
        max-width: 340px;
        height: 260px;
    }

    .aboutStats {
        width: 100%;
        max-width: 340px;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .aboutShowCase {
        width: 100%;
    }

    .aboutContent h2 {
        font-size: var(--text-3xl);
    }

    .aboutContent h3 {
        text-align: center;
    }

    .aboutContent p {
        margin-top: 1.5rem;
        text-align: center;
    }

    .technologies {
        min-height: auto;
        height: auto;
        padding: 3rem 1rem;


    }

    .technologiesMain {
        width: 100%;
        max-width: 340px;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .techCard {
        padding: 1.5rem;
    }

    .technologies h3 {
        font-size: var(--text-lg);
        text-align: center;
    }

    .footer {
        width: 100%;
        padding: 1rem 1rem 1.5rem;
        gap: 1.5rem;
    }

    .footerLinks {
        width: 100%;
        flex-wrap: wrap;
        gap: 1rem 1.5rem;
    }

    .socials {
        gap: 1rem;
    }

    .footer small {
        width: 100%;
        max-width: 100%;
        padding-top: 1rem;
    }





}