.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-md);
}

.logodiv {
    display: flex;
    gap: var(--space-sm);
    align-items: center;
}

.logodiv span {
    color: var(--text);
    font-size: var(--text-lg);
    font-weight: var(--weight-bold);
}

.logo {
    color: var(--text);
    font-size: var(--text-lg);
    font-weight: var(--weight-bold);
}

.actionsdiv {
    display: flex;
    gap: var(--space-sm);
}


.Link {
    background-color: rgb(22, 21, 21);
    padding: var(--space-sm);
    border-radius: var(--radius-lg);
    color: var(--text);
    font-weight: var(--weight-medium);
    font-size: var(--text-sm);
    text-decoration: none;
    cursor: pointer;
}

.Link:hover {
    transition: var(--transition);
    background-color: var(--text);
    color: rgb(22, 21, 21);
}